.footer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
  }
  .icons {
    margin: 0 25px;
    padding: 20px;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid#29f3c3;
    }
    @media screen and (max-width: 920px) {
      margin: 0 10px;
      padding: 10px;
      border-bottom: 3px solid#29f3c3;
    }
    @media screen and (max-width: 480px) {
      margin: 0 12px;
      padding: 10px 10px;
      border-bottom: 3px solid#29f3c3;
    }
  }
}
